@media screen and (min-width: 740px) {
  /*
  .base-site {
    .menu-site {
      width: 20%;
      left: -20%;
    }
    &.active-menu .site-content {
      left: 20%;
    }
  }
  */
  .nav-head .form-control {
    max-width: 100%;
  }
  .container-fluid .padd-r-0 {
    padding-right: 15px;
  }
}
