.sortorder {
  position: relative;
  margin-left: 5px;
}
.sortorder:before {
  content: "\f0de";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
}
.sortorder.reverse:before {
  content: "\f0dd";
}
.menu-site {
  background: #1F2B38;
  color: white;
  padding: 0 15px 25px;
}
.menu-site .filter-block {
  padding-bottom: 15px;
  border-bottom: 1px dashed #9ab1c7;
}
.menu-site .filter-block:last-child {
  border: none;
}
.menu-site .sidemenu-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.menu-site a {
  color: white;
}
.menu-site .filter-list {
  padding-left: 10px;
  font-size: 1.4rem;
}
.menu-site .filter-list li {
  margin-bottom: 5px;
  list-style-position: inside;
  text-indent: 0;
  list-style: none;
}
.menu-site .filter-list a {
  text-transform: capitalize;
  cursor: pointer;
}
.base-site {
  padding-top: 55px;
  overflow-x: hidden;
}
.base-site .site-content,
.base-site .menu-site {
  position: relative;
}
.base-site .menu-site {
  position: fixed;
  width: 300px;
  left: -300px;
  top: 0;
  bottom: 0;
  padding-top: 55px;
  -webkit-transition: left 0.95s ease;
  -moz-transition: left 0.95s ease;
  -o-transition: left 0.95s ease;
  transition: left 0.95s ease;
}
.base-site .site-content {
  padding-top: 25px;
  padding-bottom: 25px;
  left: 0;
  -webkit-transition: left 0.95s ease;
  -moz-transition: left 0.95s ease;
  -o-transition: left 0.95s ease;
  transition: left 0.95s ease;
}
.base-site.active-menu .site-content,
.base-site.active-menu .menu-site {
  -webkit-transition: left 0.75s ease;
  -moz-transition: left 0.75s ease;
  -o-transition: left 0.75s ease;
  transition: left 0.75s ease;
}
.base-site.active-menu .menu-site {
  overflow-y: auto;
  left: 0;
}
.base-site.active-menu .site-content {
  width: 100%;
  left: 300px;
}
.container-fluid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.container-fluid .logo-top {
  padding-left: 0;
  text-align: left;
}
.container-fluid .logo-top a {
  display: inline-block;
}
.container-fluid .logo-top img {
  max-height: 35px;
}
.foot-site {
  position: relative;
  width: 100%;
  background: #2c3e50;
  padding: 30px 0 10px;
  margin-top: 30px;
  color: white;
  font-size: 1.4rem;
}
.logo-foot {
  display: inline-block;
  margin: 0 auto 30px;
}
.logo-foot img {
  max-height: 35px;
}
.padd-r-0 {
  padding-right: 0;
}
.no-padd {
  padding-left: 0;
  padding-right: 0;
}
.nav-head {
  margin-bottom: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.nav-head li {
  list-style: none;
}
.nav-head .head-lnk {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 28px;
}
.nav-head .form-control {
  max-width: 120px;
  height: 32px;
  border-radius: 0;
  margin-right: 10px;
}
.nav-head a {
  color: white;
}
.navbar {
  min-height: 1px;
}
.navbar-brand {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand img {
  max-height: 35px;
}
.navbar-nav > li > a {
  padding-bottom: 0;
  padding-top: 10px;
}
.navbar {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn {
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  font-weight: 700;
  text-transform: uppercase;
}
.product-list {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product-list .prod-base {
  border: 1px solid transparent;
  padding: 15px;
  background: transparent;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.product-list .prod-base:hover {
  border: 1px solid #f7f7f7;
  background: #f9f9f9;
}
.product-list .product {
  margin-bottom: 20px;
}
.product-list .product .product-image {
  border: 4px solid #ebebeb;
  margin-bottom: 1rem;
  padding: 0;
  /*height: 225px;*/
  overflow: hidden;
  /*
      &:hover  img {
        width: 105%;
        .translate(-3%,-2%);
      }
      */
}
.product-list .product .product-image img {
  width: 100%;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.product-list .product .product-name {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.product-list .product .product-price {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.product-list .product-categ-list {
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.product-list .product-categ-list li {
  display: inline-block;
  margin-right: 5px;
}
.product-list .product-categ-list li:before {
  content: ', ';
}
.product-list .product-categ-list li:first-child:before {
  display: none;
}
.product-list .product-categ-list li:last-child {
  margin-right: 0;
}
.nav-head {
  position: relative;
  z-index: 4;
}
.cart-fly {
  position: absolute;
  top: 55px;
  right: 0;
  width: 100%;
  max-width: 480px;
  z-index: 3;
  background: #2c3e50;
  color: white;
}
.cart-fly .cart-image {
  padding: 0;
}
.cart-fly .cart-title {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.cart-fly .cart-list {
  list-style: none;
  margin-bottom: 0;
  padding: 15px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cart-fly .cart-list li {
  width: 100%;
  border-bottom: 1px dashed #9ab1c7;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cart-fly .cart-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.cart-fly .cart-list li .btn {
  padding: 5px;
  line-height: 1;
}
.cart-fly .cart-list .item-name,
.cart-fly .cart-list .item-price {
  margin: 0;
}
.cart-fly .cart-list .item-name {
  font-size: 1.6rem;
}
.cart-fly .cart-list .item-price {
  font-size: 1.4rem;
}
@media screen and (min-width: 740px) {
  /*
  .base-site {
    .menu-site {
      width: 20%;
      left: -20%;
    }
    &.active-menu .site-content {
      left: 20%;
    }
  }
  */
  .nav-head .form-control {
    max-width: 100%;
  }
  .container-fluid .padd-r-0 {
    padding-right: 15px;
  }
}
